.center-form__registration{
  width: 50vw;
  //height: 50rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: transparent;
  padding: 5rem;
  padding-top: 5rem;
  //padding-bottom: 20rem;

  //border-radius: 1300px;


}